.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loaderImg {
  width: 270px;
  height: 270px;
  max-width: none;
  max-height: none;
  animation: rotateLoader 2000ms linear infinite;
}

.progress {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-weight: 700;
  font-size: 50px;
  line-height: 100%;
  letter-spacing: -0.04em;
}

@keyframes rotateLoader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (min-width: 768px) {
  .loaderImg {
    width: 396px;
    height: 396px;
  }

  .progress {
    font-size: 80px;
  }
}
