.btn {
  border-radius: 30px;
  background: #f6b83d;
  font-weight: 700;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.03em;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: var(--butonAnimation);
}
.btn:hover {
  background: #f9b020;
}

@media screen and (min-width: 768px) {
  .btn {
    font-size: 16px;
    line-height: 125%;
  }
}
