.navList {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.navListItem,
.navListItemHeader {
  border: 1px solid rgba(38, 38, 38, 0.15);
  border-radius: 30px;
  padding: 15px 15px;
  width: 119px;
  height: 48px;
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.03em;
  color: #262626;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .navListItem,
  .navListItemHeader {
    font-size: 16px;
    line-height: 125%;
  }
}

@media screen and (min-width: 1024px) {
  .navList {
    flex-direction: row;
    margin-right: 167px;
  }

  .navListItem {
    border: 1px solid rgba(255, 255, 255, 0.4);
    color: #fff;
    width: auto;
    padding: 15px 20px;
  }

  .navListItemHeader {
    border: 1px solid rgba(38, 38, 38, 0.15);
    border-radius: 30px;
    padding: 15px 20px;
    width: auto;
    height: 50px;
    font-weight: 500;
    font-size: 16px;
    line-height: 125%;
    letter-spacing: -0.03em;
    color: #262626;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
