.noticePages {
  padding-bottom: 88px;
}
@media screen and (min-width: 375px) and (max-width: 767px) {
  .noticePages {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
