.fieldWrap {
  position: relative;
  display: flex;
  align-items: center;
}

.searchFieldInput {
  border: 1px solid rgba(38, 38, 38, 0.15);
  border-radius: 30px;
  padding: 12px;
  padding-right: 40px;
  width: 100%;
  height: 42px;
}

.searchFieldInput::placeholder {
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.03em;
  color: rgba(38, 38, 38, 0.5);
}

.searchFieldIcons,
.searchFieldClose {
  width: 16px;
  height: 16px;
  fill: transparent;
  stroke: #262626;
}

.searchFieldClose {
  width: 14px;
  height: 14px;
}

.searchFieldBtnSearch {
  right: 12px;
}

.searchFieldBtnClose {
  right: 32px;
  padding: 4px;
}
.searchFieldBtnClose,
.searchFieldBtnSearch {
  padding: 2px;
  position: absolute;
}

@media screen and (min-width: 768px) {
  .searchFieldInput {
    width: 230px;
    height: 48px;
    padding: 14px;
    padding-right: 50px;
  }
  .searchFieldInput::placeholder {
    font-size: 16px;
  }
}
