.wrapBlock {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media screen and (min-width: 768px) {
  .wrapBlock {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 12px;
    padding-right: 12px;
  }
}

@media screen and (min-width: 1280px) {
  .wrapBlock {
    padding-left: 44px;
    padding-right: 44px;
  }
}
