.header {
  padding: 28px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerHome {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  padding: 28px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 76px;
  height: 20px;
}

@media screen and (min-width: 768px) {
  .headerHome {
    padding-left: 64px;
    padding-right: 64px;
  }
  .header {
    width: 100%;
  }
  .logo {
    width: 105px;
    height: 28px;
  }
}

@media screen and (min-width: 1280px) {
  .headerHome {
    padding-left: 96px;
    padding-right: 96px;
  }
}
