.header {
  padding: 28px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 16px;
}

.headerHome {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  padding: 28px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 76px;
  height: 20px;
}

@media screen and (min-width: 768px) {
  .headerHome {
    padding-left: 64px;
    padding-right: 64px;
    padding-top: 32px;
  }
  .header {
    width: 100%;
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 32px;
  }
  .logo {
    width: 105px;
    height: 28px;
  }
}

@media screen and (min-width: 1280px) {
  .headerHome {
    padding-left: 96px;
    padding-right: 96px;
    padding-top: 32px;
    width: 1280px;
    left: 50%;
    transform: translateX(-50%);
  }

  .header {
    padding-left: 64px;
    padding-right: 64px;
    width: 1280px;
    margin: 0 auto;
  }

  .navContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
  }
}

@media screen and (min-width: 1920px) {
  .headerHome {
    max-width: 1920px;
    margin: 0 auto;
    padding-left: 96px;
    padding-right: 96px;
    padding-top: 32px;

    position: absolute;
    top: 60px;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
