.wrapInput {
  display: flex;
  gap: 8px;
  margin-bottom: 10px;
}
.inputText {
  border: 1px solid rgba(38, 38, 38, 0.15);
  border-radius: 30px;
  padding: 12px;
  width: 116px;
  height: 36px;
  transition: var(--borderAnimation);
  position: relative;
}
.inputText::placeholder {
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  color: rgba(38, 38, 38, 0.5);
}

.inputText:hover {
  border: 1px solid #f6b83d;
}

.changed {
  border: 1px solid #f6b83d;
}

.hiddenInput {
  display: none;
}
.fileInputWrapper {
  display: flex;
  align-items: center;
}
.customFileUpload {
  display: flex;
  gap: 6px;
  background: #fff4df;
  border-radius: 30px;
  padding: 10px;
  width: 117px;
  height: 36px;
  cursor: pointer;
  transition: var(--butonAnimation);
}
.customFileUpload:hover {
  background: #ffe7c1;
}
.customFileUpload span {
  font-weight: 500;
  font-size: 12px;
  line-height: 133%;
  letter-spacing: -0.02em;
  color: #262626;
}

.uploadIcon {
  width: 16px;
  height: 16px;
}
.error {
  position: absolute;
  font-size: 10px;
  color: red;
  margin-top: -2px;
  margin-left: 10px;
}

@media screen and (min-width: 375px) {
  .inputText {
    width: 170px;
    padding: 16px;
  }
}

@media screen and (min-width: 768px) {
  .customFileUpload span {
    font-size: 14px;
  }

  .uploadIcon {
    width: 18px;
    height: 18px;
  }

  .inputText {
    width: 300px;
    height: 42px;
  }

  .inputText::placeholder {
    font-size: 16px;
  }
  .customFileUpload {
    border-radius: 30px;
    padding: 12px 16px;
    width: 146px;
    height: 42px;
  }
  .wrapInput {
    margin-bottom: 18px;
  }

  .error {
    margin-top: 2px;
  }
}

@media screen and (min-width: 1280px) {
  .inputText {
    width: 320px;
  }
}
