.noticesList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
  width: 100%;
}
.noticesItem {
  border-radius: 16px;
  padding: 32px;
  max-width: 335px;
  height: 100%;
  background: #fff;
  padding: 24px;
}

@media screen and (min-width: 375px) and (max-width: 767px) {
  .noticesList {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .noticesItem {
    min-width: 342px;
  }
}
@media screen and (min-width: 768px) {
  .noticesList {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .noticesItem {
    min-width: 342px;
  }
}

@media screen and (min-width: 1280px) {
  .noticesItem {
    min-width: 362px;
  }
}
