.form {
  border-radius: 30px;
  width: 100%;
  height: 100%;
  background: #fff;
  padding: 60px 0;
}
.buttonSubmit {
  text-transform: uppercase;
  width: 100%;
  margin-top: 40px;
}

.description {
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  color: #262626;
  margin-top: 12px;
  margin-bottom: 24px;
  width: 297px;
}

.input {
  border: 1px solid rgba(38, 38, 38, 0.15);
  border-radius: 30px;
  padding: 12px;
  width: 100%;
  height: 42px;
  background: transparent;
  margin-bottom: 10px;
  transition: border-color 0.3s ease-in-out;
}

.inputError {
  border: 1px solid #ef2447;
}

.inputSuccess {
  border: 1px solid #08aa83;
}
.input::placeholder {
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.03em;
  color: rgba(38, 38, 38, 0.5);
}
.success {
  color: #08aa83;
  font-size: 14px;
  margin-top: 4px;
}

.question {
  text-align: center;
  font-weight: 500;
  font-size: 12px;
  line-height: 117%;
  letter-spacing: -0.03em;
  color: rgba(38, 38, 38, 0.5);
  margin-top: 12px;
}

.link {
  font-weight: 700;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #f6b83d;
  margin-left: 2px;
}

.inputWrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.inputContainer {
  position: relative;
  width: 100%;
}

.success {
  position: absolute;
  color: #08aa83;
  font-size: 10px;
  padding: 0 10px;
  top: 36px;
}
.toggleButton {
  position: absolute;
  right: 16px;
  top: 12px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
  color: #f6b83d;
}
.toggleButton:hover {
  color: #333;
}

.icon {
  display: block;
  width: 18px;
  position: absolute;
  right: 16px;
  top: 40%;
  transform: translateY(-50%);
  font-size: 18px;
}

.iconWithButton {
  display: block;
  width: 18px;
  position: absolute;
  right: 40px;
  transform: translateY(-50%);
  top: 40%;
  font-size: 18px;
}
.errorIcon {
  color: #ef2447;
}

.successIcon {
  color: #08aa83;
}

.error {
  color: red;
  font-size: 10px;
  position: absolute;
  left: 0;
  bottom: -2px;
  padding: 0 10px;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .form {
    padding: 70px 140px;
    margin-top: 16px;
  }

  .description {
    font-size: 18px;
    width: 100%;
    margin-bottom: 32px;
  }
  .question {
    font-size: 14px;
    margin-top: 16px;
  }
  .input::placeholder {
    font-size: 16px;
  }
  .buttonSubmit {
    margin-top: 64px;
  }
  .input {
    margin-bottom: 16px;
    padding: 16px;
  }

  .error {
    font-size: 12px;
  }
  .success {
    font-size: 12px;
  }
  .iconWithButton {
    top: 36%;
  }
  .icon {
    top: 36%;
  }
}

@media screen and (min-width: 1280px) {
  .form {
    width: 592px;
    padding: 118px 84px;
  }
}
