.modalContainer {
  padding: 40px 20px;
  background: #fff;
  border-radius: 30px;
  width: 280px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.iconClose {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 18px;
  height: 18px;
  stroke: #262626;
}

.authNav {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.link {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  padding: 14px;
  width: 140px;
  height: 42px;
  background: #f6b83d;
  font-weight: 700;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: -0.03em;
  color: #fff;
  transition: var(--butonAnimation);
}
.link:hover {
  background: #f9b020;
}

.authNav .link:nth-of-type(2) {
  background: #fff4df;
  color: #f6b83d;
  transition: var(--butonAnimation);
}
.authNav .link:nth-of-type(2):hover {
  background: #fbe7c1;
}

.imgWrap {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  background: #fff4df;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.imgDog {
  width: 44px;
  height: 44px;
}

.tittleAttention {
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: -0.03em;
  color: #f6b83d;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.description {
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  text-align: center;
  color: #2b2b2a;
  margin-bottom: 24px;
}

@media screen and (min-width: 375px) {
  .modalContainer {
    width: 335px;
  }
  .authNav {
    flex-direction: row;
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .modalContainer {
    width: 466px;
    padding: 60px;
  }
  .link {
    height: 48px;
  }
  .tittleAttention {
    font-size: 24px;
  }
  .authNav {
    justify-content: center;
    gap: 8px;
  }
}
