.petBlockContainer {
  display: none;
}
@media screen and (min-width: 768px) {
  .petBlockContainer {
    display: flex;
    gap: 8px;
    width: auto;
    height: 121px;
    border-radius: 20px;
    padding: 18px 16px;
    position: absolute;
    bottom: 32px;
    left: 32px;
    background: #fff;
  }

  .imgWrap {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    background: #fff4df;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .petImage {
    width: 32px;
    height: 32px;
  }
  .details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 8px;
  }
  .name {
    font-weight: 700;
    font-size: 16px;
    line-height: 125%;
    letter-spacing: -0.03em;
    color: #f6b83d;
  }
  .detailsText {
    font-weight: 500;
    font-size: 12px;
    line-height: 117%;
    letter-spacing: -0.02em;
    color: rgba(38, 38, 38, 0.5);
  }
  .date {
    font-weight: 500;
    font-size: 12px;
    line-height: 117%;
    letter-spacing: -0.02em;
    color: #262626;
  }
  .description {
    font-weight: 500;
    font-size: 12px;
    line-height: 117%;
    letter-spacing: -0.02em;
    color: rgba(38, 38, 38, 0.8);
    width: 194px;
  }
}

@media screen and (min-width: 1280px) {
  .petBlockContainer {
    bottom: 97px;
    left: 61px;
  }
}
