@import "modern-normalize/modern-normalize.css";
@import "tailwindcss";

:root {
  --borderAnimation: border-color 0.3s ease-in-out;
  --butonAnimation: background-color 0.3s ease-in-out;
  --colorTextAnimation: color 0.3s ease-in-out;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  display: block;
}

body,
html {
  height: 100%;
  font-family: "Manrope", sans-serif;
  line-height: 1.5;
  overflow-x: hidden;
  margin: 0 auto;
  background: #f9f9f9;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

button {
  cursor: pointer;
}

button,
input,
textarea {
  font: inherit;
  background: none;
  border: none;
  outline: none;
}
button, a, select {
  -webkit-tap-highlight-color: transparent;
}
