.icons {
  border-radius: 100px;
  padding: 10px;
  width: 68px;
  height: 68px;
  background: #fff4df;
  margin: 0 auto;
}

.avatarImage {
  border-radius: 100px;
  width: 68px;
  height: 68px;
  margin: 0 auto;
  object-fit: cover;
}

@media screen and (min-width: 768px) {
  .icons {
    width: 86px;
    height: 86px;
    margin-top: -28px;
  }
  .avatarImage {
    width: 86px;
    height: 86px;
  }
}
