.wrapContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.title {
  font-weight: 700;
  font-size: 18px;
  line-height: 133%;
  color: #2b2b2a;
}

.linkTo {
  display: flex;
  align-items: center;
  border-radius: 30px;
  padding: 10px 20px;
  width: 118px;
  height: 40px;
  background: #f6b83d;
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: -0.03em;
  color: #fff;
  transition: var(--butonAnimation);
}

.linkTo:hover {
  background: #f9b020;
}

.icon {
  width: 18px;
  height: 18px;
  fill: #fff;
}
