.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #f6b83d;
  border-radius: 30px;
  height: 712px;
}

.title {
  font-weight: 800;
  font-size: 120px;
  line-height: 1;
  color: #fff;
  display: flex;
  align-items: center;
  gap: 120px;
  position: relative;
}
.titleImg {
  position: absolute;
  bottom: 0px;
  left: 50%;
  display: inline-block;
  width: 109px;
  height: 109px;
  background: rgba(247, 195, 93, 0.6) url(/images/desc/cat_not_found.png)
    center/contain no-repeat;
  border-radius: 1000px;
  transform: translateX(-50%);
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .titleImg {
    background: rgba(247, 195, 93, 0.6) url(/images/desc/cat_not_found_x2.png)
      center/contain no-repeat;
  }
}
.description {
  font-weight: 700;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: -0.03em;
  color: #fff;
  margin-bottom: 20px;
}

.link {
  border-radius: 30px;
  padding: 12px 30px;
  width: 150px;
  height: 42px;
  background: #fff4df;
  font-weight: 700;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.03em;
  color: #f6b83d;
}

@media screen and (min-width: 768px) {
  section {
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 32px;
  }
  .container {
    height: 878px;
  }
  .titleImg {
    width: 280px;
    height: 280px;
  }
  .title {
    font-size: 300px;
    gap: 260px;
    margin-bottom: 40px;
  }
  .description {
    font-size: 24px;
  }

  .link {
    font-size: 16px;
    width: 162px;
    height: 48px;
  }
}

@media screen and (min-width: 1280px) {
  section {
    padding-top: 0;
  }
  .container {
    height: 84vh;
  }
}
